<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="System.Collections.IEnumerable, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" value="System.Collections.IEnumerable, C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\8.0.0\ref\net8.0\System.Runtime.dll"/>
    <add key="System.Collections.IEnumerator, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" value="System.Collections.IEnumerable, C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\8.0.0\ref\net8.0\System.Runtime.dll"/>
  </appSettings>
</configuration>