<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Microsoft.Codeanalysis" value="microsoft.codeanalysis.common\4.5.0\lib\netcoreapp3.1" />
    <add key="Microsoft.CodeAnalysis.CSharp" value="microsoft.codeanalysis.csharp\4.5.0\lib\netcoreapp3.1" />
  </appSettings>
</configuration>